@(QTitle: String)(QBody: Html)(QCreated: String)(QUser: String)(QScore: Long)(Answers: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'/>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/style.css")'/>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/QuestionPage.css")'/>
        <title>Jask - @QTitle</title>
    </head>

    <body>
        <nav>
            <ul>
                <li>
                    <a href="/">Jask </a>
                </li>
                 <li>
                    <a href="/login">登入</a>
                </li>
                <li>
                    <a href="/login">註冊</a>
                </li>
                
            </ul>
            <form id="search" autocomplete="off">
                <input type="text" placeholder="搜尋" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                <input type="submit" value="搜尋" />
            </form>
            <ul id="Login">
                <li>
                    <a href="#" id="username"></a>
                </li>
                <li>
                    <a href="/logout" id="logout"></a>
                </li>
            </ul>
        </nav>

        <article>

            <div id="Question">
                <div class="score">
                    <ul>
                        <li>
                            <button class="astext upvote">▲</button>
                        </li>
                        <li>
                            @QScore
                        </li>
                        <li>
                            <button class="astext downvote">▼</button>
                        </li>
                    </ul>
                </div>
                
                <div class="MainBody">
                    <h1>@QTitle</h1><br/>
                    <div class="markdown">
                        @QBody
                    </div>
                    <h6 class="user time">@QUser @QCreated</h6>
                </div>

                <br/><br/>
                
                <br/>
                @Answers
                <br/>

                <div id="answerDiv">
                    <div id="answerForm">
                        <form autocomplete="off">
                            <textarea name="body" placeholder="回答問題，支援 Markdown 語法，支援 $inline TeX$ 語法" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea> <br/>
                            <input type="submit" value="提交" />
                        </form>
                    </div>
                    
                    <div id="markdown">
                    </div>
                </div>
            </div>
        </article>

        <section>
            <div>
                <h2>發問</h2>
                <p>發問一個問題</p>
                <p><a href="/ask" role="button">發問 »</a></p>
            </div>
            <div>
                <h2>回答</h2>
                <p>瀏覽現在有哪些問題</p>
                <p><a href="/questions" role="button">回答 »</a></p>
            </div>
            <div>
                <h2>聯絡</h2>
                <p>聯絡製作團隊</p>
                <p><a href="#" role="button">聯絡 »</a></p>
            </div>
        </section>

        <footer>
            ©Jask - present
        </footer>
        <script src='@routes.Assets.versioned("javascripts/IndexPage.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/marked.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/QuestionPage.js")'></script>
    </body>
</html>
